{% if 'Actualizado' in request.GET %}
        <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
                Actualizado con exito.
            </div>
        </div>
  	{% endif %}
    {% if 'Eliminado' in request.GET %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
          Eliminado con exito.
        </div>
      </div>	
{% endif %}
